*{

    font-family: "Kode+Mono", sans-serif;

}

body{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    background-color:silver;
}

.tag{

    font-size: 0.9rem;
    background-color: black;
    border-radius: 5px;
    width: 6rem;
    display: flex;
    justify-content: center;
    color: #fff;
}

.title{

    font-size: 2rem;
    font-weight: 700;
}

.card-container{

    background: #fff;
    display: grid;
    grid-template-rows: 55% 45%;
    height: 80%;
    width: 30%;
    box-shadow: 10px 10px 25px 0px #3c3c3c;
}

.img-container{

    background-image: url("../img/bugatti.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 10px;
    width: 35rem;
    height: 66%;   
}

.card-description{

    background-color:darkgrey;
    color: #fff;
    padding-left: 20px;
    margin-top: -67px;
}

.card-details{

    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.img-container img{

    width: 28rem;
}

.stars{

    color: yellow;
    font-size: 1em;
}

.colors-price{

    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: -15%;
}

.colors{

    display: flex;
    width: 6rem;
    margin-top: 90px;
    justify-content: space-between;
    cursor: pointer;
}

.white{

    background: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.orange{

    background: orange;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.yellow{

    background: yellow;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.pricing{

    display: flex;
    width: 12rem;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

.old-price{

    font-weight: 100;
}

/* botones */

button{

    cursor: pointer;
}

#button{

    background-color: #000;
}

button white-button{

    background-color: #fff;
}

.button-text{

    color: #fff;
    margin-left: 5px;
}

.feedback{

    display: none;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
}